body {
  background-color: #111831; 
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  background-color:#111831; 
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

h1{
  font-size:20px;
  grid-column: span 12;
  color: #CACCD9;
  padding-top:37px;
  padding-left:67px;
  padding-bottom:690px; 
  margin:0px;
  font-family:Arial, Helvetica, sans-serif;
}

header{
  grid-column: span 12;
  background-image:url(back.jpg);
  background-size:cover;
}

nav{
  grid-column:span 12;
  position:fixed;
  left:660px;
  bottom:70px;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding-right:15px;
  padding-top: 190px;
  display:inline-block;
}

nav ul a{
  text-decoration:none;
  color:#CACCD9;
  font-size:125px;
  padding-bottom: 5px;
  font-family:Arial, Helvetica, sans-serif;
  float:right;
  font-weight:bold;
  transition: color 0.7s;
}
 
nav ul a:hover{
  text-decoration:line-through;
  color: #e63b3b; 
}

.img{
  width:405px;
  height:405px;
  padding-top:30px;
  padding-bottom:10px;
  padding-left:50px;
  margin:0px;
}

h2{
  padding-left:50px;
  margin:0px;
  color:#CACCD9;
  font-family:Arial, Helvetica, sans-serif
}

main p{
  font-size:18px;
  text-align:justify;
  color:#CACCD9;
  padding-top:0px;
  padding-left:50px;
  padding-right:0px;
  font-family:Arial, Helvetica, sans-serif;
}

footer{
  grid-column:span 12;
  background-color:#21295a;
  margin-top:30px;
}

footer li{
  list-style-type:none;
  display:inline-block;
  padding-right:100px;
  padding-left:140px;
}

footer li a{
  display:block;
  text-decoration:none;
  font-family: Arial, Helvetica, sans-serif;
  color:#CACCD9;
  font-size:20px;
  font-weight:bold;
  padding:0px;
  margin:0px;
  transition: color 0.7s;
}
 
footer li a:hover{
  text-decoration:line-through;
  color:#e63b3b;
}